<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../static/style.css">
    </head>
    <body>
        <div id="main">
            <div id="heading">Finances</div>
            <div id="separator"></div>
            <center>
                <span id="table-heading">Balance</span>
                <div id="table">{balance}</div>
                <div id="small-separator"></div>
                <span id="table-heading">Accounts</span>
                <div id="table">{accounts}</div>
                <div id="small-separator"></div>
                <span id="table-heading">Incomes</span>
                <div id="table">{incomes}</div>
                <div id="small-separator"></div>
                <span id="table-heading">Expenses</span>
                <div id="table">{expenses}</div>
            </center>
        </div>
    </body>
</html>
