@import url(http://fonts.googleapis.com/css?family=Hind|Oxygen|Raleway|Josefin+Sans|Indie+Flower|Cabin|Play|Roboto|Dancing+Script);
body {
    font-family: Avenir;
    margin: 2em 5em 10em 0;
    width: 70%;
    margin: 2em auto;
}
#heading {
    font-size: 4em;
    text-align: center;
    border-bottom: 10px solid steelblue;
    margin: 1em 0 .75em 0;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 128);
}
a:hover {
    text-decoration: underline;
}
img {
    border-radius: .3em;
}
h1 {
    border-bottom: 4px solid rgba(0,0,0,.025);
    text-align: center;
    padding: 5px;
    width: 70%;
    margin: 2em auto 1em auto;
    border-radius: .2em;
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.025));
}
h2 {
    border-bottom: 4px solid rgba(0,0,0,.2);
    margin-top: 1em;
    padding-bottom: 3px;
}
h3 {
    border-bottom: 2px solid rgba(0,0,0,.1);
    /*width: 80%;*/
    padding-bottom: 3px;
}
blockquote {
    border-left: 5px solid rgba(0,0,0,.075);
    padding-left: 15px;
}
code {
    font-family: Josefin Sans;
    background-color: rgb(245, 245, 245);
    padding: 2px;
    border-radius: .2em;
    font-family: Lucida Console;
    font-size: .78em;
    border: 1px solid rgb(235,235,235);
    color: darkred;
}
form {
    margin: 0 0 2em 1em;
    background-color: white;    
}
input[type=text] {
    padding: .25em;
    margin: 0 .25em 1em;
    border-radius: .2em;
    font-size: 1em;
    border: none;
    background-color: rgb(240, 240, 240);
    text-align: center;
    width: 150px;
}
input[type=submit] {
    margin: 1em 0 -2em 1em;
    border: none;
    font-size: .95em;
    min-width: 75px;
    background: linear-gradient(rgba(0,0,0,.025), rgba(0,0,0,.175));
}
input[type=submit]:hover {
    background: linear-gradient(rgba(0,0,0,.05), rgba(0,0,0,.04));
}
input[type=submit]:focus {
    background: linear-gradient(rgba(0,0,0,.175), rgba(0,0,0,.025));
}
button#delete {
    margin: 1em 0 -2em 1em;
    border: none;
    font-size: .95em;
    min-width: 75px;
    background: linear-gradient(red, darkred);
    color: white;
}
button#delete:hover {
    background: linear-gradient(pink, pink);
    color: black;
}
button#delete:focus {
    background: linear-gradient(darkred, red);
    color: white;
}
textarea {
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: .2em;
    margin: 0 .5em -1.3em 0;
    width: 55%;
    height: 50px;
    font-size: 1em;
}
select {
    border: none;
    outline: 0;
    margin: 0 1em 1em .5em;
    background-color: rgb(240, 240, 240);
    border-radius: .2em;
    font-size: 1.1em;
}
th {
    font-size: 1.15em;
    background-color: rgb(225, 225, 225);
    padding: .25em;
}
td {
    background-color: rgb(250, 245, 235);
    padding: .25em;
    max-width: 200px;
}
#td-center {
    background-color: rgb(250, 245, 235);
    padding: .25em;
    max-width: 200px;
    text-align: center;
}
#account {
    margin: .25em 0 0 1em;
    background-color: rgba(0, 100, 200, .05);
}
#account-detail {
    margin: .25em 0 0 3em;
    background-color: rgba(0, 100, 200, .05);
}
#account-sub-detail {
    margin: .25em 0 0 5em;
    background-color: rgba(0, 100, 200, .05);
}
#account-sub-sub-detail {
    margin: .25em 0 0 7em;
    background-color: rgba(0, 100, 200, .05);
}