@import url(http://fonts.googleapis.com/css?family=Hind|Oxygen|Raleway|Josefin+Sans|Indie+Flower|Cabin|Play|Roboto|Dancing+Script);
body {
    font-family: Avenir;
    width: 70%;
    margin: 3em auto;
}
#heading {
    font-size: 4em;
    text-align: center;
    border-bottom: 10px solid steelblue;
    margin: 1em 0 .75em 0;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 220);
}
a:hover {
    text-decoration: underline;
}
img {
    border-radius: .3em;
}
h1 {
    border-bottom: 4px solid rgba(0,0,0,.025);
    text-align: center;
    padding: 5px;
    width: 70%;
    margin: 2em auto 1em auto;
    border-radius: .2em;
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.025));
}
h2 {
    border-bottom: 4px solid rgba(0,0,0,.2);
    margin-top: 1em;
    padding-bottom: 3px;
}
h3 {
    border-bottom: 2px solid rgba(0,0,0,.1);
    width: 80%;
    padding-bottom: 3px;
}
blockquote {
    border-left: 5px solid rgba(0,0,0,.075);
    padding-left: 15px;
}
code {
    font-family: Josefin Sans;
    background-color: rgb(245, 245, 245);
    padding: 2px;
    border-radius: .2em;
    font-family: Lucida Console;
    font-size: .78em;
    border: 1px solid rgb(235,235,235);
    color: darkred;
}
input {
    font-family: Avenir;
    border: none;
    text-align: center;
}
input[type=text], input[type=password] {
    padding: .25em;
    margin: 0 .25em 1em;
    border-radius: .2em;
    font-size: .85em;
    background-color: rgba(0, 100, 200, .05);
    text-align: center;
    width: 150px;
}
input[type=submit] {
    margin: 0 0 -2em 1em;
    padding: .25em;
    font-size: .75em;
    min-width: 75px;
    background: linear-gradient(rgb(95,205,85), rgb(40,120,25));
    color: white;
}
input[type=button] {
    margin: 0 .5em 0;
    padding: .25em;
    font-size: .75em;
    min-width: 75px;
    background: linear-gradient(silver, gray);
    color: white;
}
input[type=submit]:hover {
    background: linear-gradient(lightgreen, lightgreen);
    color: black;
}
input[type=submit]:focus {
    background: linear-gradient(rgb(40,120,25), rgb(95,205,85));
    color: white;
}
input[type=button]:hover {
    background: linear-gradient(silver, silver);
}
input[type=button]:focus {
    background: linear-gradient(gray, silver);
}
input[type=date] {
    font-size: .9em;
    background-color: rgba(0, 100, 200, .05);
    text-align: center;
    width: 150px;
}
input#delete {
    margin: 0 0 -2em 1em;
    font-size: .95em;
    min-width: 75px;
    background: linear-gradient(red, darkred);
    color: white;
}
input#delete:hover {
    background: linear-gradient(pink, pink);
    color: black;
}
input#delete:focus {
    background: linear-gradient(darkred, red);
    color: white;
}
textarea {
    border: none;
    background-color: rgba(0, 100, 200, .05);
    border-radius: .3em;
    margin: 0 .5em -1.3em 0;
    width: 55%;
    height: 50px;
    font-size: 1em;
}
select {
    border: none;
    outline: 0;
    margin: 0 1em 1em .5em;
    background-color: rgba(0, 100, 200, .05);
    border-radius: .2em;
    font-size: 1.1em;
}
th {
    font-size: 1.15em;
    background-color: rgb(225, 225, 225);
    padding: .25em;
}
td {
    background-color: rgb(250, 245, 235);
    padding: .25em;
    max-width: 200px;
}

#td-center {
    background-color: rgb(250, 245, 235);
    padding: .25em;
    max-width: 200px;
    text-align: center;
}
