@import "base.css";
body {
    width: 90%;
    /*height: 100%;*/
}
a {
    color: darkblue;
}
h1 {
    width: 45%;
    font-weight: normal;
}
h2 {
    font-weight: normal;
}
h2 a {
    transition: font-size .5s ease;
}
h2 a:hover {
    text-decoration: none;
    /*font-weight: bold;*/
    font-size: 1.1em;
    text-shadow: 1px 1px 2px silver;
}
form {
    margin-bottom: 1em;
}
#main {
    font-size: 1.15em;
    text-align: center;
}
#assets {
    float: left;
    width: 30%;
    padding: 0 1.5% 0 1.5%;
    color: darkgreen;
}
#liabilities {
    float: left;
    width: 30%;
    padding: 0 1.5% 0 1.5%;
    color: darkred;
}
#equity {
    float: left;
    width: 30%;
    padding: 0 1.5% 0 1.5%;
    color: darkblue;
}
#items {
    text-align: left;
}
#amount {
    text-align: right;
}
#td-center {
    background-color: rgb(250, 245, 235);
    padding: .25em;
    max-width: 200px;
    text-align: center;
}
#account {
    margin: .25em 0 0 1em;
    background-color: rgba(0, 100, 200, .05);
}
#account-detail {
    margin: .25em 0 0 3em;
    background-color: rgba(0, 100, 200, .05);
}
#account-sub-detail {
    margin: .25em 0 0 5em;
    background-color: rgba(0, 100, 200, .05);
}
#account-sub-sub-detail {
    margin: .25em 0 0 7em;
    background-color: rgba(0, 100, 200, .05);
}
.edit {
    display: none;
    float: left;
    opacity: .6;
}
img.edit {
    padding-right: .4em;
}
#item {
    padding-left: 2em;
}
input[type=submit] {
    margin: auto;
    border-radius: .2em;
}
input[type=button] {
    border-radius: .2em;
}
.admin-links {
    float: right;
    padding-right: 1em;
}
select {
    font-size: .9em;
    margin: 0 .5em .5em .5em;
