@import url(http://fonts.googleapis.com/css?family=Hind|Oxygen|Raleway|Josefin+Sans|Indie+Flower|Cabin|Play|Roboto|Dancing+Script);
@import "base.css";

#td-center {
    background-color: rgb(250, 245, 235);
    padding: .25em;
    max-width: 200px;
    text-align: center;
}
#account {
    margin: .25em 0 0 1em;
    background-color: rgba(0, 100, 200, .05);
}
#account-detail {
    margin: .25em 0 0 3em;
    background-color: rgba(0, 100, 200, .05);
}
#account-sub-detail {
    margin: .25em 0 0 5em;
    background-color: rgba(0, 100, 200, .05);
}
#account-sub-sub-detail {
    margin: .25em 0 0 7em;
    background-color: rgba(0, 100, 200, .05);
}

