<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <div id="main">
            <div id="heading">Finances</div>
            <div id="separator"></div>
            <center>
                <span id="table-heading">Balance</span>
                <div id="table"><table border=0><th>Total Credits</th><th>Total Debits</th><th>Total Balance</th><tr><td style="color:darkgreen"><b>$3434.9</b></td><td style="color:darkred"><b>$1683.85</b></td><td style="color:darkblue"><b>$1751.05</b></td></tr></table></div>
                <div id="small-separator"></div>
                <span id="table-heading">Accounts</span>
                <div id="table"><table border=0>
	<th>Name</th>
	<th>Balance</th>
	<th>Limit</th>
	<th>Type</th>
	<th>Nickname</th>
	<tr><td>Bofa</td><td>$575.93</td><td>$ ---</td><td>checking</td><td>pay bills</td></tr><tr><td>Chase</td><td>$-181.7</td><td>$ ---</td><td>checking</td><td>pay bills</td></tr><tr><td>Chase</td><td>$43.95</td><td>$ ---</td><td>checking</td><td>spending</td></tr><tr><td>Chase</td><td>$1.11</td><td>$ ---</td><td>savings</td><td>savings</td></tr><tr><td>Chase</td><td>$-136.72</td><td>$ ---</td><td>business checking</td><td>spendsy</td></tr><tr><td>Chase</td><td>$630.39</td><td>$ ---</td><td>checking</td><td>ucard</td></tr><tr><td>Paypal</td><td>$189.0</td><td>$ ---</td><td>---</td><td>paypal</td></tr><tr><td style="color:darkblue"><b>Total</b></td><td style="color:darkblue"><b>$1121.96</b></td></tr>
</table></div>
                <div id="small-separator"></div>
                <span id="table-heading">Incomes</span>
                <div id="table"><table border=0>
	<th>Name</th>
	<th>Amount</th>
	<th>Date</th>
	<th>Note</th>
	<th>Confirmation #</th>
	<tr><td>Unemployment</td><td>$465.0</td><td>9/28/15</td><td>---</td><td>---</td></tr><tr><td>Va Disability</td><td>$587.36</td><td>10/1/15</td><td>---</td><td>---</td></tr><tr><td>401K Cashout</td><td>$2382.54</td><td>10/1/15</td><td>---</td><td>---</td></tr><tr><td style="color:darkgreen"><b>Total</b></td><td style="color:darkgreen"><b>$3434.9</b></tr>
</table></div>
                <div id="small-separator"></div>
                <span id="table-heading">Expenses</span>
                <div id="table"><table border=0>
	<th>Name</th>
	<th>Amount</th>
	<th>Date</th>
	<th>Note</th>
	<th>Confirmation #</th>
	<tr><td>Starbucks</td><td>$4.27</td><td>9/28/15</td><td>coffee</td><td>---</td></tr><tr><td>Gas Station</td><td>$27.45</td><td>9/28/15</td><td>gas</td><td>---</td></tr><tr><td>Lucid Software</td><td>$9.95</td><td>9/28/15</td><td>?</td><td>---</td></tr><tr><td>Chase</td><td>$350.0</td><td>9/25/15</td><td>account transfer</td><td>---</td></tr><tr><td>Chase</td><td>$-400.0</td><td>9/25/15</td><td>deposit</td><td>---</td></tr><tr><td>Microsoft Office</td><td>$7.57</td><td>9/14/15</td><td>office suite</td><td>---</td></tr><tr><td>24 Hr Fitness</td><td>$27.05</td><td>9/14/15</td><td>gym membership</td><td>---</td></tr><tr><td>Horizon Card Services</td><td>$-29.95</td><td>9/14/15</td><td>---</td><td>---</td></tr><tr><td>South Shore District</td><td>$1687.51</td><td>10/1/15</td><td>rent</td><td>---</td></tr><tr><td style="color:darkred"><b>Total</b></td><td style="color:darkred"><b>$1683.85</b></tr>
</table></div>
            </center>
        </div>
    </body>
</html>
