<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <h1 id="monthHeading">Monthly Balance Sheet</h1>
        <div id="main">
            <div id="assets">
                <h3>Assets</h3>
                <form id="addAssetForm" name="addAsset" method="POST" hidden>
                    <input id="addAssetInput" type="text" placeholder="Asset name">
                    <input type="text" placeholder="Assset amount">
                    <input type="submit" value="Add"/>
                </form>
                <span style="float:left"><button style="font-weight:bold" id="addAssetButton" onclick="showAddForm('asset')">+</button></span><br>
                <img class="edit" name="Job" src="/static/assets/pencil.png" width="24"><img class="edit" name="Job" style="margin-top:.2em" src="/static/assets/trashcan.png" width="15"><span style="float:left" onmouseover="showPencil('Job')" onmouseout="hidePencil('Job')">Job</span><span class="assets" style="float:right">$5000</span><br>
                <img class="edit" name = "Investments" src="/static/assets/pencil.png" width="24"><img class="edit" name="Investments" style="margin-top:.2em" src="/static/assets/trashcan.png" width="15"><span style="float:left" onmouseover="showPencil('Investments')" onmouseout="hidePencil('Investments')">Investments</span><span class="assets" style="float:right">$2000</span><br><hr>
                <b><span style="float:left">Total</span><span id="assetsTotal" style="float:right"></span><br></b>
            </div>
            <div id="liabilities">
                <h3>Liabilities</h3>
                <form id="addLiabilityForm" name="addLiability" method="POST" hidden>
                    <input id="addLiabilityInput" type="text" placeholder="Liability name">
                    <input type="text" placeholder="Liability amount">
                    <input type="submit" value="Add"/>
                </form>
                <span style="float:left"><button style="font-weight:bold" id="addLiabilityButton" onclick="showAddForm('liability')">+</button></span><br>
                <img class="edit" name="Mortgage/Rent" src="/static/assets/pencil.png" width="24"><img class="edit" name="Mortgage/Rent" style="margin-top:.2em" src="/static/assets/trashcan.png" width="15"><span style="float:left" onmouseover="showPencil('Mortgage/Rent')" onmouseout="hidePencil('Mortgage/Rent')">Mortgage/Rent</span><span class="liabilities" style="float:right">$1500</span><br>
                <img class="edit" name="Car" src="/static/assets/pencil.png" width="24"><img class="edit" name="Car" style="margin-top:.2em" src="/static/assets/trashcan.png" width="15"><span style="float:left" onmouseover="showPencil('Car')" onmouseout="hidePencil('Car')">Car</span><span class="liabilities" style="float:right">$400</span><br>
                <img class="edit" name="Phone" src="/static/assets/pencil.png" width="24"><img class="edit" name="Phone" style="margin-top:.2em" src="/static/assets/trashcan.png" width="15"><span style="float:left" onmouseover="showPencil('Phone')" onmouseout="hidePencil('Phone')">Phone</span><span class="liabilities" style="float:right">$100</span><br>
                <img class="edit" name="Utilities" src="/static/assets/pencil.png" width="24"><img class="edit" name="Utilities" style="margin-top:.2em" src="/static/assets/trashcan.png" width="15"><span style="float:left" onmouseover="showPencil('Utilities')" onmouseout="hidePencil('Utilities')">Utilities</span><span class="liabilities" style="float:right">$250</span><br><hr>
                <b><span style="float:left"><b>Total</b></span><span id="liabilitiesTotal" style="float:right"></span><br></b>
            </div>
            <div id="equity">
               <h3>Equity</h3>
                <form id="addEquityForm" name="addEquity" method="POST" hidden>
                    <input id="addEquityInput" type="text" placeholder="Equity name">
                    <input type="text" placeholder="Equity amount">
                    <input type="submit" value="Add"/>
                </form>
                <span style="float:left"><button style="font-weight:bold" id="addEquityButton" onclick="showAddForm('equity')">+</button></span><br>
                <img class="edit" name="Assets" src="/static/assets/pencil.png" width="24"><img class="edit" name="Assets" style="margin-top:.2em" src="/static/assets/trashcan.png" width="15"><span style="float:left" onmouseover="showPencil('Assets')" onmouseout="hidePencil('Assets')">Assets</span><span class="equityAssets equity" style="float:right"></span><br>
                <img class="edit" name="Liabilities" src="/static/assets/pencil.png" width="24"><img class="edit" name="Liabilities" style="margin-top:.2em" src="/static/assets/trashcan.png" width="15"><span style="float:left" onmouseover="showPencil('Liabilities')" onmouseout="hidePencil('Liabilities')">Liabilities</span><span class="equityLiabilities equity" style="float:right"></span><br><hr>
                <b><span style="float:left"><b>Total</b></span><span id="equityTotal" style="float:right"></span><br></b>
            </div>
        </div>
    </body>
    <script>
         var total = 0;
         var calcTotal = function() {
            assets = document.getElementsByClassName("assets");
            for (var i=0; i<assets.length; i++) {
               total += parseFloat(assets[i].innerHTML.slice(1, assets[i].innerHTML.length));
               document.getElementById("assetsTotal").innerHTML = "$" + total;
               document.getElementsByClassName("equityAssets")[0].innerHTML = "$" + total;
            }
            total = 0;
            liabilities = document.getElementsByClassName("liabilities");
            for (var i=0; i<liabilities.length; i++) {
               total += parseFloat(liabilities[i].innerHTML.slice(1, liabilities[i].innerHTML.length));
               document.getElementById("liabilitiesTotal").innerHTML = "$" + -total;
               document.getElementsByClassName("equityLiabilities")[0].innerHTML = "$" + -total;
            }
            total = 0;
            equity = document.getElementsByClassName("equity");
            for (var i=0; i<equity.length; i++) {
               total += parseFloat(equity[i].innerHTML.slice(1, equity[i].innerHTML.length));
               document.getElementById("equityTotal").innerHTML = "$" + total;
            }
         };
    calcTotal();
        var monthNames = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
        ];
        var date = new Date();
        dateVal = monthNames[date.getMonth()] + " " + date.getFullYear() + " Balance Sheet"
        document.getElementById("monthHeading").innerHTML = dateVal;
        document.title = dateVal;
        var showAddForm = function(name) {
            buttons = document.getElementsByTagName("button")
            inputs = document.getElementsByTagName("input")
            console.log(name, buttons[0].innerHTML);
            if (name == "asset") {
                buttons[0].innerHTML = "-";
            }
            else if (name == "liability") {
                buttons[1].innerHTML = "-";
            }
            else if (name == "equity") {
                buttons[2].innerHTML = "-";
            }
            if (name == "asset") {
                document.getElementById("addAssetForm").hidden = !document.getElementById("addAssetForm").hidden
                if (document.getElementById("addAssetForm").hidden) {
                    buttons[0].innerHTML = "+";
                }
            }
            else if (name == "liability") {
                document.getElementById("addLiabilityForm").hidden = !document.getElementById("addLiabilityForm").hidden
                if (document.getElementById("addLiabilityForm").hidden) {
                    buttons[1].innerHTML = "+";
                }
            }
            else if (name == "equity") {
                document.getElementById("addEquityForm").hidden = !document.getElementById("addEquityForm").hidden
                if (document.getElementById("addEquityForm").hidden) {
                    buttons[2].innerHTML = "+";
                }
            }
        }

        document.addEventListener('mousemove', function(e) {
            activeElement = document.elementFromPoint(e.pageX, e.pageY);
        });
        images = document.getElementsByTagName("img");
        var showPencil = function(name) {
            for (var i=0; i<images.length; i++) {
                if (images[i].name == name) {
                    images[i].style.display = "inline";
                }
            }
        }
        var hidePencil = function(name) {
            for (var i=0; i<images.length; i++) {
                if (images[i].name == name) {
                    images[i].style.display = "none";
                }
            }
        }
    </script>
</html>
