<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title>Spendsy</title>
        <style>
            h1 {
                margin-top: 2.5em;
            }
            #main-heading {
                text-align: center;
            }
            #main {
                width: 80%;
                margin: 3em auto;
                text-align: left;
            }
            #login-link {
                float: right;
                padding-right: .5em;
            }
        </style>
    </head>
    <body>
        <p><center><h2><a href="/balance_sheet">Balance Sheet</a></h2></center></p>
        <div id="login-link"><a href="/login">Login</a></div>
        <h1>Spendsy</h1>
        <div id="main">
            <p><h2 id="main-heading" style="border-bottom: none">Personal Finance and Budgeting</h2></p><br>
            <p>Managing your finances can be tricky business. Knowing what to do with the money you've earned each time you get paid isn't as straighforward as it seems.</p>
            <p>Spendsy helps you navigate the difficult waters of budgeting with a simple, elegant solution to the questions, "How do I stay of top of my money", "How do I get out of living paycheck to paycheck", and "What's the best way to save for the future"?</p>
        </div>
    </body>
</html>
